<div class="header">
  <div class="header-left">
    <a routerLink="/home" class="logo">
      <img src="assets/img/logo.png" alt="">
    </a>
  </div>
  <ul class="nav navbar-nav main-menu">
    <li>
      <a routerLink="/customer">
        <i class="fa fa-user"></i> Customer Management</a>
    </li>
    <li>
      <a routerLink="/invoice">
        <i class="fa fa-bar-chart"></i> Invoice Management</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right user-menu pull-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" title="Ryan Taylor">
        <span class="user-img">
          <img class="img-circle" src="assets/img/user.jpg" width="31" alt="Ryan Taylor">
        </span>
        <span>Ryan Taylor</span>
        <i class="caret"></i>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="javascript:void(0);" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
</div>