<!-- <button (click)="switchLanguage('en')">EN</button>
<button (click)="switchLanguage('de')">DE</button>
<h1>
  {{ "welcome" | translate }}
</h1> -->
  <title>{{title}}</title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

<router-outlet></router-outlet>  
