<app-header></app-header>
            <div class="header">
                <div class="header-left">
                    <a routerLink="/home" class="logo">
						<img src="assets/img/logo.png" alt="">
					</a>
                </div>
				<ul class="nav navbar-nav main-menu">
					<li>
						<a routerLink="/customer">Customers</a>
					</li>
					<li class="active">
						<a routerLink="/invoice">Invoices</a>
					</li>
					<!-- <li>
						<a href="#">Reports</a>
					</li>
					<li>
						<a href="#">Settings</a>
					</li> -->
				</ul>
				<ul class="nav navbar-nav navbar-right user-menu pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-th-large"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a routerLink="/invoice"><i class="fa fa-bar-chart"></i> Invoice Management</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="profile.html" class="dropdown-toggle user-link" data-toggle="dropdown" title="Ryan Taylor">
							<span class="user-img"><img class="img-circle" src="assets/img/user.jpg" width="31" alt="Ryan Taylor"></span>
							<span>Ryan Taylor</span>
							<i class="caret"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0);" (click)="onLogout()">Logout</a></li>
						</ul>
					</li>
				</ul>
            </div>
            <div>
                <div class="content container-fluid">
					<div class="page-inner">
						<div class="display-table">
							<div class="section-left">
								<div class="display-table">
									<div class="table-row">
										<div class="table-body">
											<div class="table-inner">
												<div class="sub-pages">
													<ul class="nav nav-tabs nav-justified">
														<li class="active"><a href="/invoice">Drafts</a></li>
														<li><a href="/invoice">Invoices</a></li>
														<li><a href="/invoice">Estimates</a></li>
													</ul>
												</div>
												<div class="sec-content border-top p-b-0">
													<div class="search-sec">
														<div class="row">
															<div class="col-md-6 col-xs-10">
																<div class="input-group">
																	<span class="input-group-addon"><i class="fa fa-search"></i></span>
																	<input type="text" placeholder="Search in the list" class="form-control">
																</div>                                                                
															</div>
															<div class="col-md-6 col-xs-2">
																<a href="javascript:;" class="expand-icon"></a>
                                                                <a class="userfilter-icon" href="#" data-toggle="tooltip" data-placement="top" title="Filter by person"><img src="assets/img/userfilter.png" alt=""></a>
															</div>
														</div>
													</div>
													<div class="table-responsive invoice-table">
														<table class="table no-border">
															<thead>
																<tr>
																	<th style="min-width:15%;">No.</th>
																	<th style="min-width:16%;">Invoice ID</th>
																	<th style="min-width:40%;">Customer Name</th>
																	<th style="min-width:15%;">Due Date</th>
																	<th style="min-width:7%;">VAT</th>
																	<th style="min-width:7%;">Total</th>
																</tr>
															</thead>
															<tbody>
																<tr *ngFor="let invoice of invoices; let i = index">
																	<td><label>{{i + 1}}</label></td>
																	<td><label>{{invoice.estimate_uid}}</label></td>
																	<td><label><a href="javascript:void(0);" (click)="onSelect(invoice)"></a></label></td>
																	<td><label>{{invoice.due_date}}</label></td>
																	<td class="text-right"><label>0.00</label></td>
																	<td class="text-right"><label>0.00</label></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="invoice-total">
										<div class="table-responsive">
											<table class="table m-b-0">
												<tbody>
													<tr>
														<td style="min-width:16%;"></td>
														<td style="min-width:40%;"></td>
														<td style="min-width:20%;">Total</td>
														<td style="min-width:12%;">0.00</td>
														<td style="min-width:12%;">0.00</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>	
							<div class="section-right inv-section-right">
								<div class="display-table">                                	
									<div class="button-sec">
										<a class="addbtn m-r-10" routerLink="/create-invoice"><span><img src="assets/img/plus.png" alt=""></span> Create Invoice</a>
									</div>
									<div class="table-row">
										<div class="table-body">
											<div class="table-inner contact-inner">
												<div class=" m-b-0">
													<div class="panel-heading">
													<div class="row">
														<div class="col-md-10">
															<div class="action-link">
																<a class="btn">Show</a>
																<a class="btn">Approve/Delete</a>
																<a class="btn">Send Copy</a>
																<a class="btn">Duplicate</a>
															</div>
														</div>
														<div class="col-md-2">
															<div class="sub-icon">
																<a href="#"></a>
															</div>
														</div>
													</div>
													</div>
													<div class="panel-body">
														<div class="invoice-details">
															<div class="inv-info">
																<h5 class="inv-number">INVOICE NO.</h5>
																<p class="inv-text">Document number will be confirmed when draft is approved.</p>
															</div>
															<h4>Foodco company pvt. ltd.</h4>
															<div>
																<div class="clearfix">
																	<div class="inv-details"><span class="inv-title">Excl. VAT</span><div class="amount">0.00</div></div>
																</div>
																<div class="clearfix">
																	<div class="inv-details"><span class="inv-title">VAT</span><div class="amount">0.00</div></div>
																</div>
																<div class="clearfix">
																	<div class="inv-details total"><span class="inv-title">Total</span><div class="amount total-amount">0.00</div></div>
																</div>
															</div>
															<div class="clearfix inv-status">
																<div class="inv-details"><span class="inv-title">Created</span><div class="amount">12/01/2017</div></div>
																<div class="inv-details"><span class="inv-title">Due date</span><div class="amount">20/02/2018</div></div>
															</div>
														</div>
													</div>
												</div>				
											</div>				
										</div>				
									</div>
									<div class="panel-footer text-right">
										<a href="" class="btn btn-default m-r-5">Edit</a>
										<a href="" class="btn btn-orange">Save</a>
									</div>								
								</div>
							</div>					
						</div>					
					</div>					
				</div>			
			</div>