        <div class="main-wrapper">
            <div class="header">
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img src="assets/img/logo.png" alt="">
					</a>
                </div>
				<ul class="nav navbar-nav main-menu">
					<li>
						<a href="#">Customers</a>
					</li>
					<li class="active">
						<a href="#">Invoices</a>
					</li>
					<li>
						<a href="#">Reports</a>
					</li>
					<li>
						<a href="#">Settings</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right user-menu pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-th-large"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="fa fa-files-o"></i> Project Management</a></li>
							<li><a href="invoices.html"><i class="fa fa-bar-chart"></i> Invoice Management</a></li>
							<li><a href="payroll.html"><i class="fa fa-user"></i> Payroll Management</a></li>
						</ul>
					</li>
					<li class="dropdown hidden-xs">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/notification.png" alt=""> <span class="badge pull-right">5</span></a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span>Notifications</span>
							</div>
							<div class="drop-scroll">
								<ul class="media-list">
									<li class="media notification-message">
										<a href="activities.html">
											<div class="media-left">
												<span class="avatar">
													<img alt="John Doe" src="assets/img/user.jpg" class="img-responsive img-circle">
												</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
												<p class="m-0"><span class="notification-time">4 mins ago</span></p>
											</div>
										</a>
									</li>
									<li class="media notification-message">
										<a href="activities.html">
											<div class="media-left">
												<span class="avatar">V</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
												<p class="m-0"><span class="notification-time">6 mins ago</span></p>
											</div>
										</a>
									</li>
									<li class="media notification-message">
										<a href="activities.html">
											<div class="media-left">
												<span class="avatar">L</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
												<p class="m-0"><span class="notification-time">8 mins ago</span></p>
											</div>
										</a>
									</li>
									<li class="media notification-message">
										<a href="activities.html">
											<div class="media-left">
												<span class="avatar">G</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
												<p class="m-0"><span class="notification-time">12 mins ago</span></p>
											</div>
										</a>
									</li>
									<li class="media notification-message">
										<a href="activities.html">
											<div class="media-left">
												<span class="avatar">V</span>
											</div>
											<div class="media-body">
												<p class="m-0 noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
												<p class="m-0"><span class="notification-time">2 days ago</span></p>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="activities.html">View all Notifications</a>
							</div>
						</div>
					</li>
					<li class="dropdown">
						<a href="profile.html" class="dropdown-toggle user-link" data-toggle="dropdown" title="Ryan Taylor">
							<span class="user-img"><img class="img-circle" src="assets/img/user.jpg" width="31" alt="Ryan Taylor"></span>
							<span>Ryan Taylor</span>
							<i class="caret"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Settings</a></li>
							<li><a href="login.html">Logout</a></li>
						</ul>
					</li>
				</ul>
            </div>
            <div class="page-wrapper">
                <div class="content container-fluid">
					<div class="page-inner">
						<div class="display-table">
							<div class="section-left">
								<div class="display-table">
									<div class="table-row">
										<div class="table-body">
											<div class="table-inner">
												<div class="sub-pages">
													<ul class="nav nav-tabs nav-justified">
														<li class="active"><a href="#">Drafts</a></li>
														<li><a href="#">Invoices</a></li>
														<li><a href="#">Estimates</a></li>
													</ul>
												</div>
												<div class="sec-content border-top p-b-0">
													<div class="search-sec">
														<div class="row">
															<div class="col-md-6 col-xs-10">
																<div class="input-group">
																	<span class="input-group-addon"><i class="fa fa-search"></i></span>
																	<input type="text" placeholder="Search in the list" class="form-control">
																</div>                                                                
															</div>
															<div class="col-md-6 col-xs-2">
																<a href="javascript:;" class="expand-icon"></a>
                                                                <a class="userfilter-icon" href="#" data-toggle="tooltip" data-placement="top" title="Filter by person"><img src="assets/img/userfilter.png" alt=""></a>
															</div>
														</div>
													</div>
													<div class="table-responsive invoice-table">
														<table class="table no-border">
															<thead>
																<tr>
																	<th style="min-width:16%;">Invoice ID</th>
																	<th style="min-width:40%;">Customer Name</th>
																	<th style="min-width:20%;">Due Date</th>
																	<th style="min-width:12%;">VAT</th>
																	<th style="min-width:12%;">Total</th>
																</tr>
															</thead>
															<tbody>
																<tr class="filter-inv">
																	<td class="inv-year">Dec 2018</td>
																	<td></td>
																	<td></td>
																	<td>0.00</td>
																	<td>0.00</td>
																</tr>
																<tr>
																	<td>#321654789</td>
																	<td>Foodco Company Pvt. Ltd.</td>
																	<td>13/01/2018</td>
																	<td>0.00</td>
																	<td>0.00</td>
																</tr>
																<tr>
																	<td>#321654789</td>
																	<td>Foodco Company Pvt. Ltd.</td>
																	<td>13/01/2018</td>
																	<td>0.00</td>
																	<td>0.00</td>
																</tr>
																<tr>
																	<td>#321654789</td>
																	<td>Foodco Company Pvt. Ltd.</td>
																	<td>13/01/2018</td>
																	<td>0.00</td>
																	<td>0.00</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="invoice-total">
										<div class="table-responsive">
											<table class="table m-b-0">
												<tbody>
													<tr>
														<td style="min-width:16%;"></td>
														<td style="min-width:40%;"></td>
														<td style="min-width:20%;">Total</td>
														<td style="min-width:12%;">0.00</td>
														<td style="min-width:12%;">0.00</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>	
							<div class="section-right inv-section-right">
								<div class="display-table">                                	
									<div class="button-sec">
										<a class="addbtn m-r-10" href="create-invoice.html"><span><img src="assets/img/plus.png" alt=""></span> Create Invoice</a>
										<a class="addbtn" href="#"><span><img src="assets/img/plus.png" alt=""></span> Create Estimate</a>
									</div>
									<div class="table-row">
										<div class="table-body">
											<div class="table-inner contact-inner">
												<div class=" m-b-0">
													<div class="panel-heading">
													<div class="row">
														<div class="col-md-10">
															<div class="action-link">
																<a class="btn">Show</a>
																<a class="btn">Approve/Delete</a>
																<a class="btn">Send Copy</a>
																<a class="btn">Duplicate</a>
															</div>
														</div>
														<div class="col-md-2">
															<div class="sub-icon">
																<a href="#"></a>
															</div>
														</div>
													</div>
													</div>
													<div class="panel-body">
														<div class="invoice-details">
															<div class="inv-info">
																<h5 class="inv-number">INVOICE NO.</h5>
																<p class="inv-text">Document number will be confirmed when draft is approved.</p>
															</div>
															<h4>Foodco company pvt. ltd.</h4>
															<div>
																<div class="clearfix">
																	<div class="inv-details"><span class="inv-title">Excl. VAT</span><div class="amount">0.00</div></div>
																</div>
																<div class="clearfix">
																	<div class="inv-details"><span class="inv-title">VAT</span><div class="amount">0.00</div></div>
																</div>
																<div class="clearfix">
																	<div class="inv-details total"><span class="inv-title">Total</span><div class="amount total-amount">0.00</div></div>
																</div>
															</div>
															<div class="clearfix inv-status">
																<div class="inv-details"><span class="inv-title">Created</span><div class="amount">12/01/2017</div></div>
																<div class="inv-details"><span class="inv-title">Due date</span><div class="amount">20/02/2018</div></div>
															</div>
														</div>
													</div>
												</div>				
											</div>				
										</div>				
									</div>
									<div class="panel-footer text-right">
										<a href="" class="btn btn-default m-r-5">Edit</a>
										<a href="" class="btn btn-orange">Save</a>
									</div>								
								</div>
							</div>					
						</div>					
					</div>					
				</div>			
			</div>
        </div>