<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">
        <div class="main-wrapper">
            <div class="header">
                <div class="header-left">
                    <a href="/home" class="logo">
						<img src="assets/img/logo.png" alt="">
					</a>
                </div>
				<ul class="nav navbar-nav main-menu">
					<li>
						<a href="/customer"><i class="fa fa-user"></i> Customer Management</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right user-menu pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" title="Ryan Taylor">
							<span class="user-img">
								<img class="img-circle" src="assets/img/user.jpg" width="31" alt="Ryan Taylor">
							</span>
							<span>Ryan Taylor</span>
							<i class="caret"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0);" (click)="onLogout()">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>			
            <div class="page-wrapper">
                <div class="content container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="welcome-box">
								<h3>Welcome to HRMS</h3>
							</div>
						</div>
					</div>
					<div class="chart-section">
							<div class="chart-box">
								<h4>Projects</h4>
								<div class="row chart-row">
									<div class="col-md-6">
										<div class="chart-widget">
											<div id="donutchart"></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="chart-result flex-container">
											<ul class="chart-list">
												<li>
													<div class="chart-cont">
														<div class="chart-stats">
															<span class="stats-count open-invoice">2</span>
														</div>
														<div class="chart-info">
															<span class="chart-title text-ellipsis">open projects</span>
															<span class="chart-count">365.50</span>
														</div>
														
													</div>
												</li>
												<li>
													<div class="chart-cont">
														<div class="chart-stats">
															<span class="stats-count overdue-low">0</span>
														</div>
														<div class="chart-info">
															<span class="chart-title text-ellipsis">projects overdue < 30 days</span>
															<span class="chart-count">0.00</span>
														</div>
														
													</div>
												</li>
												<li>
													<div class="chart-cont">
														<div class="chart-stats">
															<span class="stats-count overdue-high">0</span>
														</div>
														<div class="chart-info">
															<span class="chart-title text-ellipsis">Projects overdue > 30 days</span>
															<span class="chart-count">0.00</span>
														</div>
														
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="chart-box">
								<h4>Invoices</h4>
								<div class="row chart-row">
									<div class="col-md-6">
										<div class="chart-widget">
											<div id="donutchart2"></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="chart-result">
											<ul class="chart-list">
												<li>
													<div class="chart-cont">
														<div class="chart-stats">
															<span class="stats-count open-invoice">2</span>
														</div>
														<div class="chart-info">
															<span class="chart-title text-ellipsis">open projects</span>
															<span class="chart-count">365.50</span>
														</div>
														
													</div>
												</li>
												<li>
													<div class="chart-cont">
														<div class="chart-stats">
															<span class="stats-count overdue-low">0</span>
														</div>
														<div class="chart-info">
															<span class="chart-title text-ellipsis">projects overdue < 30 days</span>
															<span class="chart-count">0.00</span>
														</div>
														
													</div>
												</li>
												<li>
													<div class="chart-cont">
														<div class="chart-stats">
															<span class="stats-count overdue-high">0</span>
														</div>
														<div class="chart-info">
															<span class="chart-title text-ellipsis">Projects overdue > 30 days</span>
															<span class="chart-count">0.00</span>
														</div>
														
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="chart-box">
								<h4>Payroll</h4>
								<div class="row chart-row">
									<div class="col-md-6">
										<div class="chart-widget">
											<div id="donutchart3"></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="chart-result">
											<ul class="chart-list">
												<li>
													<div class="chart-cont">
														<div class="chart-stats">
															<span class="stats-count open-invoice">2</span>
														</div>
														<div class="chart-info">
															<span class="chart-title text-ellipsis">open projects</span>
															<span class="chart-count">365.50</span>
														</div>
														
													</div>
												</li>
												<li>
													<div class="chart-cont">
														<div class="chart-stats">
															<span class="stats-count overdue-low">0</span>
														</div>
														<div class="chart-info">
															<span class="chart-title text-ellipsis">projects overdue < 30 days</span>
															<span class="chart-count">0.00</span>
														</div>
														
													</div>
												</li>
												<li>
													<div class="chart-cont">
														<div class="chart-stats">
															<span class="stats-count overdue-high">0</span>
														</div>
														<div class="chart-info">
															<span class="chart-title text-ellipsis">Projects overdue > 30 days</span>
															<span class="chart-count">0.00</span>
														</div>
														
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>			
			</div>
        </div>